.myIcon { background-image: url("https://geoloqi.com/geoloqi-core/assets/img/logo-block.544404.png") no-repeat transparent; }

.myIcon {
  border-color: #cc3333;
  background-image: background-image: url("https://geoloqi.com/geoloqi-core/assets/img/logo-block.544404.png"); 
}
.myIconSelected {
  background-image: url("https://geoloqi.com/geoloqi-core/assets/img/logo-block.544404.png"); 
}

#brand .navbar .brand {float:left;display:block;padding:8px 20px 12px;margin-left:-20px;font-size:20px;font-weight:200;line-height:1;color:#ffffff;}
#brand .navbar .navbar-text{margin-bottom:0;line-height:40px;color:#999999;}.navbar .navbar-text a:hover{color:#ffffff;background-color:transparent;}


body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("https://geoloqi.com/geoloqi-core/assets/img/logo-block.544404.png") no-repeat scroll 0 8px transparent;
    margin-left: 0;
    padding: 8px 20px 0px 40px;
	height:80px;
}

div.container span.brand {
    background: url("https://geoloqi.com/geoloqi-core/assets/img/logo-block.544404.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
